{% extends 'main_app/parent.html' %}

{% block title %}Agenda Page{% endblock %}

{% block main %}
<div class="menu">
    <h2>Agenda Page</h2>
    {% if narratives %}
        {% for i in narratives %}
        <div class="alert alert-light">
            <h3>{{i.name}}</h3>
            <p>{{i.intro}}</p>
            <a href="{% url 'agenda-detail' i.id %}" class="btn btn-info">Read more</a>
        </div>
        {% endfor %}
    {% else %}
        <p>You have not added any news yet.</p>
    {% endif %}
    </div>
{% endblock %}