{% extends 'main_app/parent.html' %}

{% block title %}Agenda Page{% endblock %}

{% block main %}
<div class="menu">
    {% if narratives %}
        {% for i in narratives %}
        <div class="narrative-block">
            <h2>{{i.name}}</h2>
            <p>{{i.intro}}</p>
            <a href="{% url 'agenda-detail' i.id %}" class="primary-btn">Read more</a>
        </div>
        {% endfor %}
    {% else %}
        <p>You have not added any news yet.</p>
    {% endif %}
    </div>
{% endblock %}