{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main_app/css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>{% block title %}{% endblock %}</title>


  </head>
  <body>
    <div class="wrapper">
      <aside>
        <img
          src="{% static 'main_app/img/Wendys_logo_girl.png' %}"
          height="280px"
          width="280px"
        />
        <h1 class="title">Wendy<span class="title-comma">'</span>s</h1>
        <ul>
          <li><a href="{% url 'StartPage' %}">Introduction</a></li>
          <!-- <li><a href="{% url 'menu_page' %}">Menu</a></li> -->
          <li><a href="{% url 'StartPageForAgenda' %}">Narratives</a></li>
          <li><a href="{% url 'support_page' %}">Support</a></li>
          <li class="create-btn"><a href="{% url 'create' %}">Add new narrative</a></li>
        </ul>
      </aside>
      <main>
        <div class="container">
            {% block main %} {% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>
