{% extends 'main_app/parent.html' %}
<title>Main page</title>
{% block main %}
<section class="features">
  <h1>Welcome to our new website created for journalists and writers!</h1>
  <h4>Here is list "Why" you should work on our website:</h4> 
  <p>1. We provide the best services you can get for your great work experience by using our website.</p>
  <p>2. We provide access to database that contains lots of narratives.</p>
  <p>3. We provide ability to edit narrative and delete them.</p>
  <p>4. Our database remains changes and saves it.</p>

  <a class="primary-btn" role="button" href="{% url 'StartPageForAgenda' %}">Let's get started!</a>
</section>

{% endblock %}
