html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul li {
    background-color: #ffffff;
    border-radius: 16px;
    cursor: pointer;
    
}

ul li a {
    padding: 16px;
}

a {
    color: rgb(0, 0, 0);
    display: block;
    text-decoration: none;
    width: 100%;
}

button {
    background-color: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 16px;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #3aaccf;
    font-family: 'Montserrat';
    font-weight: 400;
    box-shadow: 0px 4px 16px 4px rgba(34, 34, 34, 0.2);
}

.form-title {
    margin-bottom: 20px;
}

aside {
    background-color: red;
    padding: 24px;
    border-right: 16px solid #ffffff;
}

textarea {
    resize: vertical;
    max-height: 420px;
    padding: 16px;
    border-radius: 4px;
    border: none;
    border-bottom: 4px solid #3aaccf;
    font-family: 'Montserrat';
    font-weight: 400;
}

time {
    color: #3aaccf;
    display: block;
    margin-top: 8px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2cc24;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.container {
    height: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    color: #1e120f;
    margin-bottom: 20px;
}

.title-comma {
    color: #3aaccf;
}

.create-btn {
    background-color: #3aaccf;
    box-shadow: 0px 8px 0px 0px #2784a0;
    transition: transform .1s ease, box-shadow .1s ease, background-color .1s ease;
}

.create-btn:hover {
    background-color: #2784a0;
}

.create-btn:active {
    transform: translateY(10px);
    box-shadow: 0px 0px 0px 0px;
}

.primary-btn {
    color: #f4f4f4;
    padding: 16px 32px;
    background-color: #b0171f;
    max-width: fit-content;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
}

.primary-btn:hover {
    filter:brightness(1.1)
}

.secondary-btn {
    color: #f4f4f4;
    padding: 16px 32px;
    background-color: #3aaccf;
    max-width: fit-content;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
}

.agenda-detail {
    margin-top: 42px;
    max-width: 100%;
    box-shadow: 0px 4px 42px 4px rgba(34, 34, 34, 0.1);
    border-radius: 4px;
    border-bottom: 4px solid #1e120f;
    padding: 24px;
}

.agenda-detail h1 {
    margin-bottom: 20px;
}

.agenda-detail P {
    width: 100%;
    word-wrap: break-word;
}

.controls {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.features {
    margin-top: 42px;
}

.features h1 {
    margin-bottom: 16px;
}

.features p {
    margin-bottom: 16px;
}

.menu {
    margin-top: 42px;
}

.menu h1 {
    margin-bottom: 16px;
}

.menu p {
    margin-bottom: 16px;
}
